In [104]:
import requests
import pandas as pd
import numpy as np

In [2]:
base_url = 'https://python.zgulde.net'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

The end result of this exercise should be a file named acquire.py.

Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items

In [9]:
response= requests.get(base_url+ '/documentation')
#print(response.json()['payload'])

In [11]:
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [93]:

response= requests.get(base_url+ '/api/v1/items')
print(response.json())

{'payload': {'items': [{'item_brand': 'Riceland', 'item_id': 1, 'item_name': 'Riceland American Jazmine Rice', 'item_price': 0.84, 'item_upc12': '35200264013', 'item_upc14': '35200264013'}, {'item_brand': 'Caress', 'item_id': 2, 'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct', 'item_price': 6.44, 'item_upc12': '11111065925', 'item_upc14': '11111065925'}, {'item_brand': 'Earths Best', 'item_id': 3, 'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry', 'item_price': 2.43, 'item_upc12': '23923330139', 'item_upc14': '23923330139'}, {'item_brand': 'Boars Head', 'item_id': 4, 'item_name': 'Boars Head Sliced White American Cheese - 120 Ct', 'item_price': 3.14, 'item_upc12': '208528800007', 'item_upc14': '208528800007'}, {'item_brand': 'Back To Nature', 'item_id': 5, 'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers', 'item_price': 2.61, 'item_upc12': '759283100036', 'item_upc14': '759283100036'}, {'item_brand': 'Sally Hansen', 'item_id': 6, 'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements', 'item_price': 6.93, 'item_upc12': '74170388732', 'item_upc14': '74170388732'}, {'item_brand': 'Twinings Of London', 'item_id': 7, 'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct', 'item_price': 9.64, 'item_upc12': '70177154004', 'item_upc14': '70177154004'}, {'item_brand': 'Lea & Perrins', 'item_id': 8, 'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn', 'item_price': 1.68, 'item_upc12': '51600080015', 'item_upc14': '51600080015'}, {'item_brand': 'Van De Kamps', 'item_id': 9, 'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct', 'item_price': 1.79, 'item_upc12': '19600923015', 'item_upc14': '19600923015'}, {'item_brand': 'Ahold', 'item_id': 10, 'item_name': 'Ahold Cocoa Almonds', 'item_price': 3.17, 'item_upc12': '688267141676', 'item_upc14': '688267141676'}, {'item_brand': 'Honest Tea', 'item_id': 11, 'item_name': 'Honest Tea Peach White Tea', 'item_price': 3.93, 'item_upc12': '657622604842', 'item_upc14': '657622604842'}, {'item_brand': 'Mueller', 'item_id': 12, 'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support', 'item_price': 8.4, 'item_upc12': '74676640211', 'item_upc14': '74676640211'}, {'item_brand': 'Garnier Nutritioniste', 'item_id': 13, 'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam', 'item_price': 6.47, 'item_upc12': '603084234561', 'item_upc14': '603084234561'}, {'item_brand': 'Pamprin', 'item_id': 14, 'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief', 'item_price': 7.54, 'item_upc12': '41167300121', 'item_upc14': '41167300121'}, {'item_brand': 'Suave', 'item_id': 15, 'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut', 'item_price': 9.11, 'item_upc12': '79400847201', 'item_upc14': '79400847201'}, {'item_brand': 'Burts Bees', 'item_id': 16, 'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive', 'item_price': 5.17, 'item_upc12': '792850014008', 'item_upc14': '792850014008'}, {'item_brand': 'Ducal', 'item_id': 17, 'item_name': 'Ducal Refried Red Beans', 'item_price': 1.16, 'item_upc12': '88313590791', 'item_upc14': '88313590791'}, {'item_brand': 'Scotch', 'item_id': 18, 'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct', 'item_price': 4.39, 'item_upc12': '21200725340', 'item_upc14': '21200725340'}, {'item_brand': 'Careone', 'item_id': 19, 'item_name': 'Careone Family Comb Set - 8 Ct', 'item_price': 0.74, 'item_upc12': '41520035646', 'item_upc14': '41520035646'}, {'item_brand': 'Usda Produce', 'item_id': 20, 'item_name': 'Plums Black', 'item_price': 5.62, 'item_upc12': '204040000000', 'item_upc14': '204040000000'}], 'max_page': 3, 'next_page': '/api/v1/items?page=2', 'page': 1, 'previous_page': None}, 'status': 'ok'}

In [18]:
items=pd.DataFrame(response.json())
items

                                                         payload status
items          [{'item_brand': 'Riceland', 'item_id': 1, 'ite...     ok
max_page                                                       3     ok
next_page                                   /api/v1/items?page=2     ok
page                                                           1     ok
previous_page                                               None     ok

In [94]:
items=(response.json()['payload'])
items=pd.DataFrame(items)
items

,items,max_page,next_page,page,previous_page
0,"{'item_brand': 'Riceland', 'item_id': 1, 'item...",3,/api/v1/items?page=2,1,None
1,"{'item_brand': 'Caress', 'item_id': 2, 'item_n...",3,/api/v1/items?page=2,1,None
2,"{'item_brand': 'Earths Best', 'item_id': 3, 'i...",3,/api/v1/items?page=2,1,None
3,"{'item_brand': 'Boars Head', 'item_id': 4, 'it...",3,/api/v1/items?page=2,1,None
4,"{'item_brand': 'Back To Nature', 'item_id': 5,...",3,/api/v1/items?page=2,1,None
5,"{'item_brand': 'Sally Hansen', 'item_id': 6, '...",3,/api/v1/items?page=2,1,None
6,"{'item_brand': 'Twinings Of London', 'item_id'...",3,/api/v1/items?page=2,1,None
7,"{'item_brand': 'Lea & Perrins', 'item_id': 8, ...",3,/api/v1/items?page=2,1,None
8,"{'item_brand': 'Van De Kamps', 'item_id': 9, '...",3,/api/v1/items?page=2,1,None
9,"{'item_brand': 'Ahold', 'item_id': 10, 'item_n...",3,/api/v1/items?page=2,1,None
10,"{'item_brand': 'Honest Tea', 'item_id': 11, 'i...",3,/api/v1/items?page=2,1,None
11,"{'item_brand': 'Mueller', 'item_id': 12, 'item...",3,/api/v1/items?page=2,1,None
12,"{'item_brand': 'Garnier Nutritioniste', 'item_...",3,/api/v1/items?page=2,1,None
13,"{'item_brand': 'Pamprin', 'item_id': 14, 'item...",3,/api/v1/items?page=2,1,None
14,"{'item_brand': 'Suave', 'item_id': 15, 'item_n...",3,/api/v1/items?page=2,1,None
15,"{'item_brand': 'Burts Bees', 'item_id': 16, 'i...",3,/api/v1/items?page=2,1,None
16,"{'item_brand': 'Ducal', 'item_id': 17, 'item_n...",3,/api/v1/items?page=2,1,None
17,"{'item_brand': 'Scotch', 'item_id': 18, 'item_...",3,/api/v1/items?page=2,1,None
18,"{'item_brand': 'Careone', 'item_id': 19, 'item...",3,/api/v1/items?page=2,1,None
19,"{'item_brand': 'Usda Produce', 'item_id': 20, ...",3,/api/v1/items?page=2,1,None

In [21]:



response.json().keys()

dict_keys(['payload', 'status'])

In [110]:

response_items_pg_2= requests.get(base_url+ '/api/v1/items?page=2')

In [111]:
response_items_pg_2=pd.DataFrame(response_items_pg_2.json()['payload']['items'])
response_items_pg_2

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
1,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
2,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
3,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
4,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428
5,Triaminic,26,Triaminic Syrup Night Time Cold & Cough Grape 4oz,0.98,300436344045,300436344045
6,Morton,27,Morton Kosher Salt Coarse,6.01,24600017008,24600017008
7,Usda Produce,28,Guava,7.52,719175900007,719175900007
8,Heinz,29,Heinz Tomato Ketchup - 2 Ct,8.65,13000001038,13000001038
9,Petmate,30,Petmate Booda Bones Steak Bacon & Chicken Flav...,8.39,723503568678,723503568678
10,Zhenas Gypsy Tea,31,Zhenas Gypsy Tea Herbal Red Tea Sachets Fire L...,4.21,652790100226,652790100226
11,Barefoot,32,Barefoot Pinot Grigio 187,0.68,8500004528,8500004528
12,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
13,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
14,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066
15,Deerfields Gluten Free,36,Rice Bran Gluten Free Dinner Rolls Plain,7.95,610358991525,610358991525
16,Nakano,37,Nakano Seasoned Rice Vinegar Original,9.59,73575295003,73575295003
17,Sundown Naturals,38,Sundown Naturals Essential Electrolytes Tropic...,3.45,30768540548,30768540548
18,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On G...,9.02,28400029254,28400029254
19,Amys,40,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063

In [112]:

response_items_pg3= requests.get(base_url+ '/api/v1/items?page=3')

In [113]:
response_items_pg3=pd.DataFrame(response_items_pg3.json()['payload']['items'])
response_items_pg3

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
1,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
2,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
3,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
4,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237
5,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664
6,Bear Naked,47,Bear Naked Fit Almond Crisp 100 Percent Natura...,7.38,884623708976,884623708976
7,Dove,48,Dove Men + Care Antiperspirant Deodorant Cool ...,3.72,79400271631,79400271631
8,Easy-off,49,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772
9,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

In [99]:
items_final=pd.concat([items, response_items_pg_2,response_items_pg3]).set_index('item_id')

In [100]:
items_final

,items,max_page,next_page,page,previous_page,item_brand,item_name,item_price,item_upc12,item_upc14
item_id,,,,,,,,,,
NaN,"{'item_brand': 'Riceland', 'item_id': 1, 'item...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Caress', 'item_id': 2, 'item_n...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Earths Best', 'item_id': 3, 'i...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Boars Head', 'item_id': 4, 'it...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Back To Nature', 'item_id': 5,...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Sally Hansen', 'item_id': 6, '...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Twinings Of London', 'item_id'...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Lea & Perrins', 'item_id': 8, ...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Van De Kamps', 'item_id': 9, '...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Ahold', 'item_id': 10, 'item_n...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Honest Tea', 'item_id': 11, 'i...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Mueller', 'item_id': 12, 'item...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Garnier Nutritioniste', 'item_...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Pamprin', 'item_id': 14, 'item...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Suave', 'item_id': 15, 'item_n...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Burts Bees', 'item_id': 16, 'i...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Ducal', 'item_id': 17, 'item_n...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Scotch', 'item_id': 18, 'item_...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Careone', 'item_id': 19, 'item...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Usda Produce', 'item_id': 20, ...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
1.0,NaN,NaN,NaN,NaN,NaN,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2.0,NaN,NaN,NaN,NaN,NaN,Caress,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
3.0,NaN,NaN,NaN,NaN,NaN,Earths Best,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
4.0,NaN,NaN,NaN,NaN,NaN,Boars Head,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
5.0,NaN,NaN,NaN,NaN,NaN,Back To Nature,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
6.0,NaN,NaN,NaN,NaN,NaN,Sally Hansen,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
7.0,NaN,NaN,NaN,NaN,NaN,Twinings Of London,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
8.0,NaN,NaN,NaN,NaN,NaN,Lea & Perrins,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
9.0,NaN,NaN,NaN,NaN,NaN,Van De Kamps,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
10.0,NaN,NaN,NaN,NaN,NaN,Ahold,Ahold Cocoa Almonds,3.17,688267141676,688267141676
11.0,NaN,NaN,NaN,NaN,NaN,Honest Tea,Honest Tea Peach White Tea,3.93,657622604842,657622604842
12.0,NaN,NaN,NaN,NaN,NaN,Mueller,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
13.0,NaN,NaN,NaN,NaN,NaN,Garnier Nutritioniste,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
14.0,NaN,NaN,NaN,NaN,NaN,Pamprin,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
15.0,NaN,NaN,NaN,NaN,NaN,Suave,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
16.0,NaN,NaN,NaN,NaN,NaN,Burts Bees,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
17.0,NaN,NaN,NaN,NaN,NaN,Ducal,Ducal Refried Red Beans,1.16,88313590791,88313590791
18.0,NaN,NaN,NaN,NaN,NaN,Scotch,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
19.0,NaN,NaN,NaN,NaN,NaN,Careone,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
20.0,NaN,NaN,NaN,NaN,NaN,Usda Produce,Plums Black,5.62,204040000000,204040000000
41.0,NaN,NaN,NaN,NaN,NaN,P.f. Changs,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
42.0,NaN,NaN,NaN,NaN,NaN,Moms Best Naturals,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
43.0,NaN,NaN,NaN,NaN,NaN,Ferrara,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
44.0,NaN,NaN,NaN,NaN,NaN,Elmers,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
45.0,NaN,NaN,NaN,NaN,NaN,Kelloggs,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237
46.0,NaN,NaN,NaN,NaN,NaN,Mama Marys,Pizza Sauce,4.65,35457770664,35457770664
47.0,NaN,NaN,NaN,NaN,NaN,Bear Naked,Bear Naked Fit Almond Crisp 100 Percent Natura...,7.38,884623708976,884623708976
48.0,NaN,NaN,NaN,NaN,NaN,Dove,Dove Men + Care Antiperspirant Deodorant Cool ...,3.72,79400271631,79400271631
49.0,NaN,NaN,NaN,NaN,NaN,Easy-off,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772
50.0,NaN,NaN,NaN,NaN,NaN,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

# 2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [72]:
endpoint0= '/api/v1/stores?page='
sheet0=[]

for page in range(1,184):
    print(page)
    response0= requests.get(base_url+ endpoint0+str(page))
    sheet0.append(pd.DataFrame(response0.json()['payload']['stores']))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183

In [82]:
sheet0_final=pd.concat(sheet0)

In [90]:
#pd.DataFrame(sheet0)
#print(sheet0)
stores=sheet0_final

In [86]:
sheet0_final=sheet0_final.drop_duplicates()

sheet0_final

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

# 3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [59]:
endpoint= '/api/v1/sales?page='
sheet=[]

for page in range(1,184):
    print(page)
    response= requests.get(base_url+ endpoint+str(page))
    sheet.append(pd.DataFrame(response.json()['payload']['sales']))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183

# 5 combine data into one large single dataframe. (i did this first out of order before saving to CSV)

In [70]:
sales=pd.concat(sheet)

In [116]:
sheet0_final.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [117]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [118]:
items_final.head()

,items,max_page,next_page,page,previous_page,item_brand,item_name,item_price,item_upc12,item_upc14
item_id,,,,,,,,,,
NaN,"{'item_brand': 'Riceland', 'item_id': 1, 'item...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Caress', 'item_id': 2, 'item_n...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Earths Best', 'item_id': 3, 'i...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Boars Head', 'item_id': 4, 'it...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN
NaN,"{'item_brand': 'Back To Nature', 'item_id': 5,...",3.0,/api/v1/items?page=2,1.0,None,NaN,NaN,NaN,NaN,NaN

# 4. save to csv local file

In [ ]:
sales.to_csv(index=False)

# 6 Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [87]:
url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
OPS_data = pd.read_csv(url)
OPS_data

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]

# 7 Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [91]:
combo = sales.merge(items_final, left_on='item', right_on='item_id')
database = combo.merge(stores, left_on='store', right_on='store_id')

def combine(sales, stores, items_final):
    combo = sales.merge(items_final, left_on='item', right_on='item_id')
    return combo.merge(stores, left_on='store', right_on='store_id')

combine(sales, stores, items_final)

,item,sale_amount,sale_date,sale_id,store,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231